
.row{
  margin: 0;
}
.m0{
  margin: 0 auto;;
}
.header p{
  font-size: 22px;
  text-align: center;
  margin-top: 150px;
  color: white;
  font-family: 'Montserrat', sans-serif
}
.header p:last-child{
  margin-top: 50px;
  font-family: 'Montserrat', sans-serif
}
.header h1{
  text-align: center;
  color: white;
  font-size: 75px;
  font-family: 'Lato', sans-serif;
}
.header{background:url("../img/back.jpg");background-repeat: no-repeat;background-size: cover;height: 580px;}
.portfolio { height: 970px;s}
.social { height: 140px;background: lightgray;}
.footer{height: 170px; background: black;}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: lightgray;
    font-weight: bold;
    border-bottom: 3px solid transparent;
}
li a:hover{
  text-decoration: none;
  color: white;
  border-bottom: 3px solid white;
}
ul li:nth-child(2),ul li:nth-child(3),ul li:nth-child(4){
  float: right;
}
.head{
  height: 170px;
}
.birinci_sira{
  height: 260px;
}
.portfolio div img{
  height: 240px;
  width: 360px;
  margin: 30px;
}
.portfolio div img{
    width: 360px;
    height: 240px;
}
.head h1{
  text-align: center;
  line-height: 190px;
  font-size: 55px;
  font-family: 'Lobster', cursive;
}
.portfolio div img:hover{
  opacity: 0.5;
}
.social i{
  padding: 50px 90px 5px 80px;
  color: black;
}
.social i:hover{
  color: #00ace6;
}
.footer div{
  width: 33.3333%;
  text-align: center;
  color: white;
  margin: 25px 0px 5px 0px;
}
.footer div h1:first-child{
  font-size: 20px;
  line-height: 35px;
}
.footer div p{
  line-height: 100px;
}
